<html>
    
    <head>
        <title>Home</title>
        <style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
        </style>
    </head>
    <body>
        
        
        
        
        
        <table class="gridtable">
            <col width="60">
            <col width="1500">
            <col width="60">
              
            <pre><h1>     <a href="/home1">Announcements</a>                   <a href="/home2">Complaints</a>                   <a href="/home3">Assignments</a>                  <a href="/home4">Curriculum</a> </h1></pre>
            
            <br>
            <br>
            <br>
            <tr>
                <th>Name</th>
                <th>{%if value == "1" %}
                Announcements
                {%endif%}
                {%if value == "2" %}
                Complaints
                {%endif%}
                {%if value == "3" %}
                Assignments
                {%endif%}
                {%if value == "4" %}
                Curriculum
                {%endif%}</th>
                <th>Time</th>
            </tr>
            {%for item in data %}
            <tr>
                <td align="center">{{item.name}}</td>
                <td align="left">{{item.text}}</td>
                <td align="center">{{item.time}}</td>
            </tr>
            {%endfor%}
        </table>  
        
        </form>
    {%if value == "1" or value == "4" %}
    <form action="/home{{value}}/" method="POST">
        <textarea  rows="10" cols="100" name="text" placeholder="Wanna add something ? Go on!" style="vertical-align:middle "></textarea>
        <input type="submit" value="Add">
         {%csrf_token%}
    </form>
    {%endif%}
    
    {%if value == "2" and type != "administration" %}
    <form action="/home2/" method="POST">
        <textarea rows="10" cols="100" name="text" placeholder="Wanna add something ? Go on!" style="vertical-align:middle "></textarea>
        <input type="submit" value="Add">
         {%csrf_token%}
    </form>
    {%endif%}
    {%if value == "3" and type == "faculty" %}
    <form action="/home4/" method="POST">
  <textarea rows="10" cols="100" name="text" placeholder="Wanna add something ? Go on!" style="vertical-align:middle "></textarea>
        <input type="submit" value="Add">
         {%csrf_token%}
    </form>
       {%endif %}
   
    </body>
    
    
    
    
    
</html>    